atomicwrites==1.4.0
attrs==20.1.0
brotlipy==0.7.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
execnet==1.7.1
Faker==4.1.2
glob2==0.7
html2text==2020.1.16
iniconfig==1.0.1
keyboard==0.13.5
Mako==1.1.3
MarkupSafe==1.1.1
menuinst==1.4.16
more-itertools==8.4.0
numpy==1.19.4
packaging==20.4
parse==1.16.0
parse-type==0.5.2
pluggy==0.13.1
psutil==5.7.2
py==1.9.0
pycosat==0.6.3
PySocks==1.7.1
pytest==6.0.1
pytest-bdd==3.4.0
python-dateutil==2.8.1
pywin32==227
selenium==3.141.0
six==1.15.0
text-unidecode==1.3
toml==0.10.1
win-inet-pton==1.1.0

